@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

* {
	margin: 0;
	/* padding: 0; */
}

body,html { 
	background: rgb(0,0,0);
	background: linear-gradient(343deg, rgba(62,20,140,1) 0%, rgba(0,0,0) 100%); 
	font-family: 'Unbounded', sans-serif;
	height:100%;
} 

a {
	color: #fff;
	text-decoration: underline;
	transition: all 0.5s;
} a:hover {
	color: #7333ea;
	transition: all 0.5s;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;

	background-color: #111;
	color: #fff;
	width: 100vw;
	height: 50px;
}

.opensource {
	margin-right:10px;
}

.decoration {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: right;

	font-size: 13px;

	width: 200px;
	height: 50px;

	position: absolute;
	right: 0;

	transition: all 1s;
}

.navigation__links {
	display: flex;
	justify-content: space-evenly;

	list-style: none;

	width: 250px;
}

.main {
	display: flex;

	justify-content: center;
	align-items: center;
	flex-direction: column;

	background: linear-gradient(330deg, #3e148c 0%, rgba(0,0,0,1) 100%);
	color: #fff;

	/*
	width: 100vw;
	height: 575px; */
}

.content {
	width: 80vw;
}

.rodion {
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, red, rgb(195, 0, 255));
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #111;
	color: #fff;

	width: 100vw;
	height: 50px;

	position: none;
}

@media (max-width: 450px) {
	.decoration {
		display: none;
		font-size: 16px;
	}
	.main {
		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;

		font-size: 16px;
		
		width: auto;
		height: auto;
	}	
}

@media screen and (max-width: 800px) {
	.decoration {
		display: none;
		font-size: 16px;
	}
	.main {
		display: flex;
		justify-content: center;
		align-items: center;

		text-align: center;

		font-size: 16px;
		
		width: auto;
	}
}
